[D-BUS Service]
Name=org.freedesktop.FileManager1
Exec=/usr/bin/python3 /home/paolo/Documents/projects/millnautilus/millnautilus.py --gapplication-service
